
OwlOsc.Test/bin/

OwlOsc.Test/obj/

.vscode/

OwlOSC/bin/

OwlOSC/obj/

Varius/

OwlOscUnity/Temp/

OwlOscUnity/obj/

OwlOscUnity/Logs/

OwlOscUnity/Library/

OwlOscUnity/Assembly-CSharp.csproj

OwlOscUnity/OwlOscUnity.sln

OwlOscUnity/Builds/
